<?xml version="1.0"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	colors="true"
	verbose="true"
	beStrictAboutCoversAnnotation="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	failOnWarning="true"
	failOnRisky="true"
>
	<testsuites>
		<testsuite name="odd">
			<directory suffix=".php">tests/app-only/php</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="WP_TESTS_FORCE_KNOWN_BUGS" value="false"/>
	</php>
</phpunit>
